{% extends 'base.html' %}

{% block body %}
{% include "partials/_header.html" with heading="Generate your connection pack" %}

<div class="container">
  <div class="card mx-auto col-lg-6">
    <div class="card-body m-md-3">
      {% include 'partials/_alerts.html' %}
      <form action="{% url 'configs:generate' %}" method="POST">
        {% csrf_token %}
        {% include 'partials/_form.html' with form=form %}
        <button class="btn btn-dark btn-block" type="submit">Generate</button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}